.cascading-right {
   margin-right: -50px;
}

@media (max-width: 900px) {
   .cascading-right {
      margin-right: 0;
   }
}

@media (min-width: 1025px) {
   .h-custom-2 {
      height: 100%;
   }
}